@inherits LayoutComponentBase
<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
      <a href="" @onclick="Logout">Logout</a>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

@inject NavigationManager NavManager

@code {
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    var auth = await LocalStorageHelper.GetILastAuth();
    if (!auth?.Authenticated ?? true)
      NavManager.NavigateTo("/landing");
  }

  private async Task Logout()
  {
    await LocalStorageHelper.DeleteILastAuth();
    StateHasChanged();
  }
}
